<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/recipes/list">Recipes</a></li>
  <li class="breadcrumb-item active">Add</li>
</ol>
<h1 class="display-4">Add recipe</h1>
<form method="POST" action="/recipes/create">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" class="form-control">
  </div>
  <div class="form-group">
    <label for="Description">Description</label>
    <textarea type="text" name="description" class="form-control"></textarea>
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>
