<div class="shadow-sm p-3 mb-5 bg-white rounded">
  <h1 class="display-4">Recipes App</h1>
</div>
<div class="shadow-sm p-3 mb-5 bg-white rounded">
  <a href="/recipes/list" class="btn btn-primary">View recipes</a>
  <a href="/recipes/add" class="btn btn-primary">Add recipe</a>
</div>
